<div class="remove-container container-block">
 <a href="https://stackoverflow.com/users/1863010/magnum"><img src="https://stackoverflow.com/users/flair/1863010.png?theme=clean" width="208" height="58" alt="profile for Magnum at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Magnum at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
</div><!--//About-->

<div class="remove-container container-block">
 <iframe src="https://githubbadge.appspot.com/harssh?s=1&a=0" style="border: 0;height: 128px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
</div>

<div class="remove-container container-block">
<script="" type="text/javascript">
    function display_coderwall(args) {
        var badges = args["data"]["badges"];
        for ( var i = 0; i < badges.length; i++ ) {
            document.write('<img '"="" +="" badge"]="" height="48" src="'+ badges[i][" width="48" />');
        }
    }
 
  <script src="http://coderwall.com/harssh.json?callback=display_coderwall"/>
   
</script>
</div>
